* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    color: var(--text-color)
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin-bottom: 1rem;
}

#portada {
    background-image: url('../img/portada_mobile.png');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portada h1, #portada h2 {
    color: var(--secondary-color);
}

#portada h2 {
    font-size: 1rem;
}

#servicios {
    display:grid;
    grid-template: repeat(3, 1fr) / 1fr;
    min-height: 60vh;
    justify-content: center;
    font-size: 1.5rem;
    margin: 3rem 1rem 0 1rem;
    text-align:center;
}

#dedicaselo, #entregas, #personaliza {
    min-height: 20vh;
    margin: 0.5rem 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: var(--white-color);
}

#dedicaselo {
    background-image: url(../img/servicio_dedicaselo.png);
}

#entregas {
    background-image: url(/img/servicio_domicilio.png);
}

#personaliza {
    background-image: url(/img/servicio_personaliza.png);
}

#nosotros {
    text-align: center;
    color: var(--text-color);
    padding: 5rem 3rem;
    max-width: 1000px;
    margin: 0 auto;
}

#rrss {
    background-color: #EBEAEA;
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    justify-content: space-around;
}

.capsule_rrss {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 25rem;
    background-color: var(--white-color);
}

#contacto {
    text-align: center;
    color: var(--footer-mobile-color);
    padding: 3rem 0;
}

#botones-temas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
}

#botones-temas button {
    width: 2vw;
    border: none;
    margin: 0 2vw;
    background:none;
}

