* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

:root {
    --secondary-color: #433334;
    --primary-color: #3C8080;
    --white-color: #F2F8F8;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    color: var(--secondary-color);
}

h2 {
    font-size: 1rem;
    color: var(--secondary-color);
}

#portada {
  background-image: url(./img/portada_mobile.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import url(./css/themes.css);
@import url(./css/media-queries.css);