/* Tablet and Desktop */
@media screen and (min-width: 768px) {
    #portada h1, #portada h2{
        color: var(--white-color);
    }

    #portada {
        background-image: url('../img/portada_desktop.png');
    }

    #servicios {
        display: grid;
        height: 50vh;
        justify-content: space-around;
        align-items: stretch;
        grid-template: 1fr / repeat(3, 1fr);
        font-size: 2.2rem;
    }

    #dedicaselo, #entregas, #personaliza {
        margin: 0 0.8rem;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #EBEAEA;
    }

    #rrss {
        order: 1;
    }
    
    #contacto {
        text-align: left;
        color: var(--footer-color);
    } 
}